whatsapp-ai-booking-n8n.json
{
  "name": "WhatsApp AI Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "replace-condition-id",
              "leftValue": "={{ $json.messages[0].text.body }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-text-only",
      "name": "Filter Text Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6592, 5296]
    },
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [6384, 5184]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Tu es l'assistant virtuel professionnel d'une société spécialisée dans la prise de rendez-vous. Tu discutes avec des clients qui peuvent écrire en darija marocaine, en arabe, en français ou en anglais. Tu réponds TOUJOURS en français professionnel, clair et poli. Ne réponds jamais en darija.\n\nAu PREMIER message du client, commence obligatoirement par une formule d'accueil chaleureuse.\n\nINFORMATIONS NÉCESSAIRES - Collecte dans cet ordre :\n1. Prénom et nom du client\n2. Service souhaité\n3. Date souhaitée (convertis toute date relative en date absolue)\n4. Heure de début\n5. Durée estimée (ou heure de fin)\n\nRÈGLES DES DATES :\n- Date et heure actuelles : {{ $now.setZone('Africa/Casablanca').toFormat('cccc dd LLLL yyyy HH:mm') }}\n- Fuseau horaire : Africa/Casablanca\n- Convertis TOUJOURS les dates relatives en dates absolues futures\n- Format OBLIGATOIRE : ISO 8601 complet avec offset, exemple : 2026-07-15T10:00:00+01:00\n\nPROCESSUS DE RÉSERVATION :\n1. Collecter nom, service, date, heure début et durée\n2. Vérifier la disponibilité une seule fois\n3. Si libre, demander confirmation\n4. Après confirmation explicite, créer l'événement\n5. Confirmer au client que le rendez-vous est enregistré\n\nPROCESSUS DE MODIFICATION :\n1. Demander le nom et la date approximative\n2. Rechercher l'événement\n3. Identifier l'événement correct\n4. Demander les nouvelles informations\n5. Vérifier la disponibilité du nouveau créneau\n6. Demander confirmation\n7. Mettre à jour l'événement\n8. Confirmer la modification\n\nPROCESSUS DE SUPPRESSION :\n1. Demander le nom et la date approximative\n2. Rechercher l'événement\n3. Demander confirmation explicite\n4. Supprimer l'événement\n5. Confirmer la suppression\n\nRÈGLES CRITIQUES :\n- Ne jamais modifier ou supprimer sans recherche préalable de l'eventId\n- Ne jamais créer sans confirmation explicite\n- Ne jamais exposer d'informations techniques au client",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [6832, 5200]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 30
      },
      "id": "window-buffer-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [6928, 5392]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [6816, 5392],
      "id": "openrouter-chat-model",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $fromAI('Start', 'Date et heure de début du créneau à vérifier en format ISO 8601 complet.', 'string') }}",
        "end": "={{ $fromAI('End', 'Date et heure de fin du créneau à vérifier en format ISO 8601 complet.', 'string') }}",
        "additionalFields": {}
      },
      "id": "google-calendar-check",
      "name": "Google Calendar Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [7056, 5456]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $fromAI('Start', 'Date et heure de début du rendez-vous en format ISO 8601 complet.', 'string') }}",
        "end": "={{ $fromAI('End', 'Date et heure de fin du rendez-vous en format ISO 8601 complet.', 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI('event_description', 'Détails du rendez-vous, service demandé et numéro du client.', 'string') }}",
          "summary": "={{ $fromAI('event_title', 'Titre court du rendez-vous.', 'string') }}"
        }
      },
      "id": "google-calendar-create",
      "name": "Google Calendar Create Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [7152, 5456]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "additionalFields": {}
      },
      "id": "google-calendar-get",
      "name": "Google Calendar Get Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [7264, 5456]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "additionalFields": {}
      },
      "id": "google-calendar-update",
      "name": "Google Calendar Update Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [7392, 5456]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "additionalFields": {}
      },
      "id": "google-calendar-delete",
      "name": "Google Calendar Delete Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [7504, 5456]
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [7280, 5200],
      "id": "send-message-ai-reply",
      "name": "Send message (AI Reply)"
    }
  ],
  "connections": {
    "Filter Text Only": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "WhatsApp Trigger": {
      "main": [[{ "node": "Filter Text Only", "type": "main", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send message (AI Reply)", "type": "main", "index": 0 }]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Google Calendar Check Availability": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Google Calendar Create Event": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Google Calendar Get Events": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Google Calendar Update Event": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Google Calendar Delete Event": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
